.arrow_box {
  margin: 1rem;
  width: 9rem;
  height: 3.4rem;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  color: white;
}

.target-breakdown {
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.target-breakdown>label {
  margin-left: 2rem;
}

.arrow_box:after,
.arrow_box:before {
  left: 101%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: inherit;
  border-width: 1.8rem;
  margin-top: -1.8rem;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: inherit;
  border-width: 1.81rem;
  margin-top: -1.81rem;
}

.row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.margin-3-right {
  margin-right: 3rem;
}

.margin-3-left {
  margin-left: 3rem;
}

.box-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.box-conatiner {
  cursor: pointer;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 70%;
  background: #0070c6;
  border: 1px solid;
  border-radius: 2.5rem;
}

.margin-3-top {
  margin-top: 3rem;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 40%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.width-30 {
  width: 30%;
}

.chart-container>label {
  text-align: center;
  font-weight: 600;
  color: gray;
}

.label-avg {
  text-align: center;
  font-weight: 600;
  color: gray;
}

.no-data-label {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: grey;
  height: 100%;
}

.label-tittle {
  text-align: center;
  font-weight: 600;
  color: gray;
}

.column {
  display: flex;
  flex-direction: column;
}

.funnel-content {
  width: 40%;
  height: 52vh;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  text-align: center;
  position: relative;
}

.logo-funnel {
  position: absolute;
  bottom: 4rem;
}

.logo-funnel>img {
  width: 8rem;
  object-fit: cover;
}

.circle-funnel {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid blue;
  height: 4rem;
  width: 4rem;
  box-shadow: inset 0px 0px 0px 0.4rem gray;
  border-radius: 50%;
}

.circle-funnel-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 7rem;
  width: 100%;
}

.circle-funnel-box-2 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 1.3rem;
  width: 100%;
}

.label-detail {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-style {
  margin-right: 1rem;
  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.option-style {
  font-size: 0.7rem;
  color: grey;
}

.center-row {
  align-items: center;
  justify-content: center;
}

.center-row {
  align-items: center;
  justify-content: space-between;
}

.filter-row {
  display: flex;
  flex-direction: row;
}

.btn-padding {
  color: #0c75d6;
  background: rgba(12, 117, 214, 0.08);
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  margin-right: 0.7rem;
}

.button-c {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  font-size: small;
  padding: 0 1rem;
}

.button-c:hover {
  background-color: whitesmoke;
}

.add-btn-row {
  display: flex;
  flex-direction: row;
}

.row-style {
  margin-top: 2rem;
}

.back-arrow {
  margin-right: 1rem;
  cursor: pointer;
}

.back-arrow:hover {
  border-radius: 50%;
  background-color: whitesmoke;
}

.submit-form {
  background: #f8faff;
  border: 1px solid #dde4f2;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
}

.form-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: #ffffff;
  border: 1px solid #dde4f2;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form-upload {
  color: #8697b6;
  cursor: pointer;
  border: 4px dashed #dde4f2;
  width: 40%;
  height: 40vh;
  margin: 2rem;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-cancel {
  background: #ecf2ff;
  color: #576f9a;
  width: 5rem;
  text-align: center;
  height: 2.5rem;
  padding-top: 10px;
  border-radius: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-half {
  background: rgba(12, 117, 214, 0.13);
  color: #0c75d6;
  width: 5rem;
  text-align: center;
  height: 2.5rem;
  padding-top: 10px;
  border-radius: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-half-cancel {
  background: rgba(12, 117, 214, 0.13);
  color: #d32f2f;
  width: 5rem;
  text-align: center;
  height: 2.5rem;
  padding-top: 10px;
  border-radius: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.input-item-row-a {
  display: flex;
  flex-direction: row;
}

.input-item-row-a>span {
  float: right;
  margin-left: -2.3rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input-item-row-a>input {
  font-size: 0.9rem;
  font-family: Poppins;
  /* Frame 32 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;

  position: static;
  width: 100%;
  height: 42px;
  left: 0px;
  top: 30px;

  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.input-i>input {
  font-size: 0.9rem;
  font-family: Poppins;
  /* Frame 32 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;

  position: static;
  width: 50%;
  height: 42px;
  left: 0px;
  top: 30px;

  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.input-i-txt>input {
  font-size: 0.9rem;
  font-family: Poppins;
  /* Frame 32 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;

  position: static;
  width: 100%;
  height: 42px;
  left: 0px;
  top: 30px;

  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-i>label {
  color: #8697b6;
  font-size: small;
  width: 50%;
  margin-right: 1rem;
}

.input-i-tittle>label {
  font-weight: 600;
  color: #173370;
  font-size: larger;
  width: 50%;
  margin: 1rem;
}

.input-i-tittle-role>label {
  font-weight: 400;
  color: #173370;
  font-size: medium;
  width: 50%;
  margin: 1rem;
}

.input-i>div {
  width: 50%;
  justify-content: start;
  display: flex;
}

.input-i>label {
  width: 50%;
  margin-right: 1rem;
}

.row-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.column-form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.column-form-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.column-form-tittle-role {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  /* margin: 2rem; */
  width: 100%;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.menu-container>div {
  flex: 50%;
  /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  margin-bottom: 10px;
}

.avg-sales-content {
  display: flex;
  flex-direction: column;
}

.avg-sales-home {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.op-sales {
  display: flex;
  flex-direction: row;
}

.op-sales>div {
  height: 2rem;
  width: calc(100% / 4);
}

.avg-sales-item {
  width: 100%;
  height: 4rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
}

.avg-sales-item-2 {
  width: calc(96% / 2);
  flex-direction: row;
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e5edff;
  border-radius: 8px;
}

.avg-m {
  margin-top: 0.7rem;
}

.avg-sales-list {
  flex-direction: column;
  display: flex;
  margin-top: 2rem;
}

.avg-sales-list-2 {
  padding-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin: 0.1rem;
  flex-flow: row wrap;
}

.avg-sales-column-t {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}

.avg-sales-column-t-2 {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  width: 100%;
}

.avg-sales {
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e5edff;
  border-radius: 8px;
}

.avg-sales-2 {
  padding: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e5edff;
  border-radius: 8px;
}

.avg-sales-title {
  font-weight: 600;
  color: gray;
  font-size: medium;
}

.avg-sales-title-ss {
  font-weight: 500;
  color: gray;
  font-size: smaller;
}

.avg-sales-title-s {
  font-weight: 600;
  color: gray;
  font-size: smaller;
}

.avg-color-item {
  width: 5%;
  height: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
}

.r-class {
  position: relative;
}

.op-sales-text-center {
  color: #dde4f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-left {
  width: 50%;
}

.row-right {
  width: 50%;
}

.text-area-s {
  padding: 12px 16px;
  width: 100%;
  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.forbidden-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.f-label-link {
  font-weight: 600;
  color: grey;
  font-size: medium;
}

.f-label-link:hover {
  cursor: pointer;
  color: #173370;
}

.f-label {
  font-weight: 600;
  color: #173370;
  font-size: 4rem;
}

.f-label-l {
  font-weight: 600;
  color: #173370;
  font-size: large;
}

.f-label-m {
  font-weight: 600;
  color: #173370;
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .avg-sales-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .avg-sales-content {
    width: 100%;
  }

  .avg-sales-item-2 {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #e5edff;
    border-radius: 8px;
  }

  .avg-sales-list-2 {
    flex-direction: column;
  }

  .avg-sales {
    width: 100%;
    margin-bottom: 1rem;
  }

  .avg-sales-2 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .box-content {
    flex-direction: column-reverse;
  }

  .box-conatiner {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .funnel-content {
    height: auto;
    width: 100%;
  }

  .chart-container {
    width: 100%;
  }
}

.MuiOutlinedInput-root>input {
  font-size: 0.9rem;
  font-family: Poppins;
}

@media only screen and (max-width: 1321px) {
  .avg-sales-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .avg-sales-content {
    width: 100%;
  }

  .avg-sales-item-2 {
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #e5edff;
    border-radius: 8px;
  }

  .avg-sales-list-2 {
    flex-direction: column;
  }

  .avg-sales {
    width: 100%;
    margin-bottom: 1rem;
  }

  .avg-sales-2 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .funnel-content {
    height: auto;
  }

  .row {
    flex-flow: row wrap;
  }

  .column {
    flex-flow: wrap;
  }

  .circle-funnel-box {
    align-items: center;
    position: static;
    right: 0;
    bottom: 0;
  }

  .circle-funnel-box-2 {
    align-items: center;
    position: static;
    right: 0;
    bottom: 0;
  }

  .logo-funnel {
    position: static;
    bottom: 0;
    margin: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .form-upload {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 90%;
  }

  .filter-row {
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
  }

  .input-style {
    margin: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .add-btn-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .button-c {
    margin: 1rem;
  }

  .row-form {
    display: flex;
    flex-direction: column;
  }

  .row-left {
    width: 100%;
  }

  .row-right {
    width: 100%;
  }
}