html {
  background-color: var(--color-white);
  font-family: poppins, sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  /* appearance: none; */
  text-transform: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Poppins;
}

.content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #dde4f2;
  box-sizing: border-box;
  border-radius: 8px;
}

.logo-signup {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.logo-signup > label {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #173370;
}

.signup-form {
  padding: 3rem 2rem 1rem 2rem;
}

.logo-s{
  width: 10rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-item {
  display: flex;
  flex-direction: column;
}

.input-item > input {
  /* Frame 32 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 309px;
  height: 42px;
  left: 0px;
  top: 30px;

  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}


.clock {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 1rem;
  margin-right: 1rem;
  font-style: normal;
  font-size: small;
  line-height: 17px;
  position: unset;
  /* identical to box height */

  color: #000000;
}


.input-item > label {
  /* Email Corporate * */

  position: static;
  width: 109px;
  height: 18px;
  left: 0px;
  top: 4px;
  margin-top: 1rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #8697b6;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 0px 10px; */
}

.input-item-row {
  display: flex;
  flex-direction: row;
}

.input-item-row > span {
  float: right;
  margin-left: -2.3rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.input-item-row > input {
  /* Frame 32 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 309px;
  height: 42px;
  left: 0px;
  top: 30px;

  background: #f8faff;
  border: 1px solid #dfe5f3;
  box-sizing: border-box;
  border-radius: 3px;
}

.submit {
  padding: 12px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  width: 138.5px;

  background: #0c75d6;
  border-radius: 7px;
  border-radius: 7px;
}
.error {
  border-radius: 2px;
  background-color: #fff6f6;
  color: #9f3a38;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid #ee4d2d;
  text-align: center;
  font-size: small;
}
